#tag-browser {
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid black;
  position: relative;
}

#tag-browser .clear-button {
  position: absolute;
  top: 1em;;
  right: 1em;
}

#tag-browser .active {
  background: purple;
  color: white;
}

.is-link {
  cursor: pointer;
}